.container-fluid {
  max-width: 850px;
}

header {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.about {
  position: relative;
}
.about .headshot-photo {
  margin-right: 15px;
  margin-bottom: 10px;
}
.about .social-media-wrap {
  text-align: center;
}
.about .social-media-links {
  max-width: 300px;
  display: inline-block;
}
.about .sm-box {
  width: 16.65%;
  display: inline-block;
  float: left;
}

@media (min-width: 768px) {
  .about p {
    padding-right: 65px;
  }
  .about .social-media-links {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .about .sm-box {
    width: 100%;
    float: none;
  }
}

.testimonials {
  margin: 25px 0;
}
.testimonials .testimonial {
  padding: 5px;
  border-radius: 5px;
  background: #ccc;
  margin-bottom: 5px;
}


.services img {
  margin-right: 10px;
  margin-bottom: 1px;
}

footer {
  padding: 15px;
  text-align: center;
  background: #cccccc;
}
